.zero {
	border-radius: 50%;
	box-shadow:
		0 5px 10px gray,
		-5px -10px 20px pink,
		inset 0px 5px 10px gray;
	transition: 20ms linear;
}

.zero__small {
	width: 20px;
	height: 20px;
	border: 5px solid rgb(181, 77, 77);
}
.zero__inCell {
	width: 50%;
	height: 50%;
	border: 15px solid rgb(181, 77, 77);
}

.zero__small:hover {
	border: 5px solid rgb(183, 41, 41);
}
.zero__inCell:hover {
	border: 15px solid rgb(183, 41, 41);
	width: 55%;
	height: 55%;
}
